{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">

<div class="container">
<div class="row">
    <div class="col-md-12">

    <div class="title_1 delimited">{%trans%}Admins{%endtrans%}
        <div style="float:right">
            <a class="btn btn-primary btn-sm" role="button" href="/site/admins/csv">
                {%trans%}Download CSV{%endtrans%}
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <table id="users" style="display:none" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>{%trans%}Hostname{%endtrans%}</th>
            <th>{%trans%}Username{%endtrans%}</th>
            <th>{%trans%}Created{%endtrans%}</th>
            <th>{%trans%}Enabled{%endtrans%}</th>
            <th>{%trans%}Email{%endtrans%}</th>
            <th>{%trans%}Forms{%endtrans%}</th>
        </tr>
    </thead>
    {% for user in admins %}
    <tr>
        <td>{{user.hostname}}</td>
        <td><a href="/admin/users/{{user.id}}">{{user.username}}</a></td>
        <td>{{user.created}}</td>
        <td>{{user.enabled}}</td>
        <td>{{user.email}}</td>
        <td>{{user.get_forms()|length}}</td>
    </tr>
    {% endfor %}
    </table>

    </div>
</div>
</div>

<script>
$(document).ready(function() {
    $('#users').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#users").show();
        },
        "order": [[2, 'desc']],
    });
} );
</script>
  
{% endblock %}
