{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 marked-up">
        {{ form.expired_text_html|safe }}
    </div>
</div>
</div>

{% endblock %}
