{% extends "base.html" %}
{% block content %}


{% if g.is_admin %}
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
{% endif %}


<div class="container">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div id="blurb" class="marked-up">
        {{ site.blurb['html']|safe }}
        {% if g.is_admin %}
        <p></p>
        <hr />
        <input id="show-editor" class="btn-success btn" type="button" value="{%trans%}Edit text{%endtrans%}" />
        {% endif %}        
    </div>

    {% if g.is_admin %}
    <div id="editor" style="display:none">
        <input id="save-edit" class="btn-success btn" type="button" value="{%trans%}Save{%endtrans%}" />
        <input id="cancel-edit" class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" />
        <p></p>
        <form id="editor-form" action="/site/save-blurb" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <textarea id="sm-editor" name="editor">{{ site.blurb['markdown'] }}</textarea>
        </form>
    </div>
    {% endif %}

    </div>
</div>
</div>

<script>
$(document).ready(function() {
    $(".marked-up").find("a").prop("target", "_blank")
});
</script>

{% if g.is_admin %}
<script>
$(document).ready(function() {

    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#sm-editor")[0]
                             });

    $("#show-editor").click(function(){
        $('#blurb').hide();
        $('#editor').show();
        $('.flash_message').hide();
        simplemde.value($("#sm-editor").val())
        window.scrollTo(0,0);
    });
    $("#save-edit").click(function(){
        $('#editor').hide();
        simplemde.toTextArea();
        $("#editor-form").submit();
    });
    $("#cancel-edit").click(function(){
        $('#editor').hide();
        $('#blurb').show();
    });
});
</script>
{% endif %}

{% endblock %}
